<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="4f65ec4f-0a5f-4e58-9d20-b9b8ca399890" Publisher="CN=Qik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WinGridAppWithBingMaps</DisplayName>
    <PublisherDisplayName>Qik</PublisherDisplayName>
    <Logo>Assets\Z_Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinGridAppWithBingMaps.App">
      <m2:VisualElements DisplayName="WinGridAppWithBingMaps" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="WinGridAppWithBingMaps" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\blue_hex_0094FF_1116x540.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>